@import 'assets/styles/variables';

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 60px;
  z-index: 1;

  input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    z-index: 1;
    margin-top: 1rem;

    div {
      display: none;
    }
  }

  input[type="file"] {
    text-align: left;
    color: $color-white
  }

  .error {
    position: absolute;
    bottom: -45px;
    margin-top: 1rem;
    color: red;
    font-size: 0.75em;
  }

  button {
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: $color-green;
    color: $color-white;
    z-index: 1;
  }

  span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    color: #8f8f8f;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  input:valid ~ span:not(.error),
  input:focus ~ span:not(.error), {
    color: $color-green;
    transform: translateY(-34px);
    font-size: 0.75em;
  }

  i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 95%;
    height: 2px;
    background: $color-green;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
  }

  input:not([type="file"]):valid ~ i,
  input:not([type="file"]):focus ~ i, {
    height: 44px;
  }

  @media (min-width: 768px) {
    width: 50%;

    i {
      width: 90%;
    }
  }
}
