<div class="filter__block">
    <a href=""><span><i class="fa-solid fa-arrow-down"></i></span>Date</a>
    <a href=""><span><i class="fa-solid fa-arrow-down"></i></span>Points</a>
    <a href=""><span><i class="fa-solid fa-arrow-down"></i></span>Les plus vue</a>
</div>