{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

    {% block header %}
        {% include "./header/_header.html.twig" %}
    {% endblock %}

    <div style="position: relative" {{ react_component('ChatApp', {user: userData}) }}></div>
{% endblock %}
