$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Poor Story', cursive;

$border-radius-md: 10px 0 10px 0;
$border-radius-xl: 20px 0 20px 0;

$color-dark: hsl(84, 11%, 9%);
$color-darklight: hsl(0, 0%, 11%);
$color-white: hsl(0,0%,86%);
$color-sand: hsl(76, 16%, 82%);
$color-gray: hsl(240, 3%, 53%);
$bg-darkblue: rgb(3, 34, 40);

$color-green: hsl(101, 35%, 48%);
$color-green-opacity-less: hsla(101, 35%, 48%, 0.4);

$color-html: #E74E26;
$color-css: #264DE3;
$color-javascript: #E2C430;
$color-php: #858EB8;