@import "_variables.scss";


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;

  main {
    background-color: $color-dark;
    color: $color-white;
    padding-top: 6em;
  }

  h1, h2 h3, h4, h5, h6 {
    line-height: 1.8;
    margin: 2rem 0;
  }

  h1,
  h2,
  p {
    // Font minimum, preferred and maximum value
    font-size: clamp(var(--min), var(--val), var(--max));
  }

  // Font size variables
  h1 {
    --min: 2em; // minimum value
    --val: 5vw; // preferred value = 5% viewport width
    --max: 3em; // maximum value
  }

  h2 {
    --min: 1.5em; /* minimum value */
    --val: 4vw; /* preferred value = 4% viewport width */
    --max: 2.25em; /* maximum value */
  }

  p {
    --min: 1.4rem; // minimum value
    --val: 2.5vw; // preferred value = 2.5% viewport width
    --max: 1.125em; // maximum value
  }

  p {
    word-spacing: 0.5rem;
    letter-spacing: 0.8pt;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .alert {
    padding-top: 100px;
  }

  .alert.alert-success {
    background-color: $color-green;
    color: $color-dark;
  }

  .alert.alert-danger {
    background-color: #cc2020;
    color: $color-white;
  }
}

