@import "_variables.scss";


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: $font-primary;

  main {
    background-color: $color-dark;
    color: $color-white;
    padding-top: 6em;
  }

  h1, h2 h3, h4, h5, h6 {
    line-height: 1.8;
    margin: 2rem 0;
  }

  h1,
  h2,
  p {
    // Font minimum, preferred and maximum value
    font-size: clamp(var(--min), var(--val), var(--max));
  }

  // Font size variables
  h1 {
    --min: 2em; // minimum value
    --val: 5vw; // preferred value = 5% viewport width
    --max: 3em; // maximum value
  }

  h2 {
    --min: 1.5em; /* minimum value */
    --val: 4vw; /* preferred value = 4% viewport width */
    --max: 2.25em; /* maximum value */
  }

  p {
    --min: 1.4rem; // minimum value
    --val: 2.5vw; // preferred value = 2.5% viewport width
    --max: 1.125em; // maximum value
  }

  p {
    word-spacing: 0.5rem;
    letter-spacing: 0.8pt;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .position-relative {
    position: relative;
  }

  .alert {
    padding-top: 100px;
  }

  .alert.alert-success {
    background-color: $color-green;
    color: $color-dark;
  }

  .alert.alert-danger {
    background-color: #cc2020;
    color: $color-white;
  }

  .filter__block {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      padding: 0 1rem;
    }

    a + a {
      border-left: 3px solid $color-gray;
    }
  }

  a.redirect:hover {
    color: $color-green;
    font-weight: bold;
  }

  .links__block {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 900;

    a {
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      color: $color-sand;
      background-color: $color-green;
      transition: all 0.15s;

      span {
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: $color-sand;
        color: $color-dark;
      }

    }

    .links__block__isRead,
    .links__block__isLiked {
      color: $color-dark;
      background-color: $color-sand;
      margin: 0 1rem;
      padding: 0.5rem 1rem;
      font-weight: 900;

      i {
        margin-right: 1rem;
      }
    }
  }

}

