@import 'assets/styles/variables';


.course__section {
  background-color: $color-dark;
  padding: 4rem 2rem;
  min-height: 100vh;

  .course__block {
    padding: 4rem 2rem;

    background-color: #12121229;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    backdrop-filter: blur(10px);
    border: 1px solid $color-sand;
  }
}
