.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 290px);

  .chat__messages {
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .chat__messages::-webkit-scrollbar {
    display: none;
  }

  .chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    border-top: 1px solid #29292d;
    background-color: #23242a;
    border-radius: 5px;

    form {
      flex: 1;

      input {
        color: lightgray;
        background-color: transparent;
        width: 100%;
        outline: none;
        border: none;
        font-size: large;
        padding: 20px;
      }

      .chat__inputBtn {
        display: none;
      }

      .react-input-emoji--button {
        padding-left: 4rem;

        svg {
          fill: #D3D3D3;
        }
      }
      .react-emoji-picker--wrapper {
        overflow: initial;
      }
    }


    .MuiSvgIcon-root {
      font-size: 3rem;
      margin: 10px
    }

  }
}