.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 290px);

  .chat__messages {
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

  }

  .chat__messages::-webkit-scrollbar {
    display: none;

  }

  .chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    border-top: 1px solid #29292d;
    background-color: #23242a;
    border-radius: 5px;

    form {
      flex: 1;

      div {
        color: lightgray;
        background-color: transparent;
        width: 100%;
        outline: none;
        border: none;
        font-size: large;
        padding: 20px;
        //overflow-y: scroll;
        //-ms-overflow-style: none; /* IE and Edge */
        //scrollbar-width: none; /* Firefox */
        resize: none;
      }

      textarea::-webkit-scrollbar {
        display: none;

      }

      .chat__inputBtn {
        display: none;
      }


    }

    .chat__inputEmoji,
    .chat__inputGif {
      position: absolute;
      bottom: 100px;
      right: 0;
    }

    .MuiSvgIcon-root {
      font-size: 3rem;
      margin: 10px
    }

  }
}