.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.75;
  min-height: calc(100vh - 90px);
  max-height: calc(100vh - 290px);

  .chat__messages {
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

  }

  .chat__messages::-webkit-scrollbar {
    display: none;

  }

  .chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px;
    border-top: 1px solid #29292d;
    background-color: #23242a;
    border-radius: 5px;

    form {
      position: relative;
      flex: 1;

      div {
        color: lightgray;
        background-color: transparent;
        width: 100%;
        outline: none;
        border: none;
        font-size: large;
        padding: 20px;
        resize: none;
      }

      .chat__inputMentionsList {
        position: absolute;
        top: -100px;
        height: 100px;
        left: 0;
        width: auto;
        background: white;
        border: 1px solid #ccc;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1;
        overflow: scroll;

        li {
          padding: 8px 12px;
          cursor: pointer;
          font-size: 14px;
          color: #444;

          &:hover {
            background: #eee;

          }
        }
      }


      .chat__inputBtn {
        display: none;
      }


    }

    .chat__inputEmoji,
    .chat__inputGif {
      position: absolute;
      bottom: 100px;
      right: 0;
    }

    .MuiSvgIcon-root {
      font-size: 3rem;
      margin: 10px
    }

  }
}