.hero-section-bg {
  background-image: url("../../../public/images/homepage_hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 3rem 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 150px;


  .hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s linear;
    margin: 2rem auto;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    p {
      margin-bottom: 4em;
      line-height: 1.6;
    }
  }

  .hero-helpers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 0 auto;

    div:first-child {
      grid-column: 1/2;
    }

    div:nth-child(2) {
      grid-column: 2/3;
    }

    div:nth-child(3) {
      grid-column: 3/4;
    }

    div:last-child {
      grid-column: 1/4;
      grid-row: 2;

      @media (max-width: 380px) {
        display: none
      }
    }
  }
}

@media (min-width: 767px) {

  .hero-section {
    padding: 5rem 5rem 150px;

    .hero-header {
      flex-direction: row;
    }
  }
}

@media (min-width: 1224px) {

  .hero-section {
    max-width: 50%;

    padding: 50px 5rem 5rem;

    .hero-header {
      flex-direction: row;
    }

    .hero-content {
      padding: 3rem;
    }
  }
}