<div class="filter__block">
    <a href="{{ path('labo_sort', { 'attr': 'createdAt', 'order': app.request.attributes.get('order') == 'ASC' and app.request.attributes.get('attr') == 'createdAt'  ? 'DESC' : 'ASC'}) }}">
                    <span>
                        {% if app.request.attributes.get('order') == 'ASC' and app.request.attributes.get('attr') == 'createdAt' %}
                            <i class="fa-solid fa-arrow-down"> </i>
                        {% else %}
                            <i class="fa-solid fa-arrow-up"></i>
                        {% endif %}
                    </span>
        Date
    </a>
    <a href="{{ path('labo_sort', {'attr': 'points', 'order': app.request.attributes.get('order') == 'ASC' and app.request.attributes.get('attr') == 'points' ? 'DESC' : 'ASC' }) }}">
            <span>
                {% if app.request.attributes.get('order') == 'ASC' and app.request.attributes.get('attr') == 'points' %}
                    <i class="fa-solid fa-arrow-down"> </i>
                {% else %}
                    <i class="fa-solid fa-arrow-up"></i>
                {% endif %}

            </span>
        Points
    </a>
    <a href="{{ path('labo_sort', { 'attr': 'readCount', 'order': app.request.attributes.get('order') == 'ASC' and  app.request.attributes.get('attr') == 'readCount' ? 'DESC' : 'ASC' }) }}">
                    <span>
                      {% if app.request.attributes.get('order') == 'ASC' and app.request.attributes.get('attr') == 'readCount' %}
                          <i class="fa-solid fa-arrow-down"> </i>
                        {% else %}
                          <i class="fa-solid fa-arrow-up"></i>
                      {% endif %}
                    </span>
        Nombre de lectures
    </a>
</div>